.modal__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.modal__img {
  height: 65vh;
  margin-bottom: $s-size;
  object-fit: scale-down;
}
.modal__figcaption {
  text-align: center;
  font-size: $s-size;
}
.external-source {
  color: $black;
}