.modal__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70vh;
}
.modal__img {
  height: 65vh;
  margin-bottom: $s-size;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.modal__figcaption {
  text-align: center;
  font-size: $s-size;
}
.external-source {
  color: $black;
}